<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Weather Journal</title>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap" rel="stylesheet">
		<link href="../../../dist/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="app">
			<h1 class="holder headline">Trip planner</h1>
			<fieldset class="holder form">
				<label for="city">Which city do you plan to go?</label>
				<input type="text" id="city" placeholder="Enter city name here">
				<label for="start-date">Start date</label>
				<input type="date" id="start-date" placeholder="DD/MM/YYYY"></input>
				<label for="end-date">End date</label>
				<input type="date" id="end-date" placeholder="DD/MM/YYYY"></input>
				<button id="generate" type = "submit">Create trip</button>
			</fieldset>
			<div class="holder results">
				<h2 class="title">Your trip</h2>
				<div id="results">
					<div id="city-name"></div> 
					<div id="country-name"></div>
					<div id="departure-date"></div>
					<div id="arrival-date"></div>
					<div id="days-remain"></div>
					<div id="duration"></div>
					<img id="city-image">
				</div>
			</div>
		</div>
		<footer>
			<figcaption>Photo in the background by Dominik Schroder via unsplash.com</figcaption>
		</footer>
		<!-- <script>
			// Check that service workers are supported
			if ('serviceWorker' in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/service-worker.js');
				});
			}
		</script> -->
	</body>
</html>