<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Weather Journal</title>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap" rel="stylesheet">
		<link href="../../../dist/main.css" rel="stylesheet" type="text/css">
	</head>
	<body id="city-image">
		<div id="app">
			<h1 class="holder headline">Trip planner</h1>
			<fieldset class="holder form">
				<label for="city">Which city do you plan to go?</label>
				<input type="text" id="city" placeholder="Enter city name here">
				<label for="start-date">Start date</label>
				<input type="date" id="start-date" placeholder="dd/mm/yyyy" date-format="dd/mm/yyyy"></input>
				<label for="end-date">End date</label>
				<input type="date" id="end-date" placeholder="dd/mm/yyyy" date-format="dd/mm/yyyy" required pattern="\d{2}-\d{2}-\d{4}"></input>
				<button id="generate" type="submit">Create trip</button>
			</fieldset>
			<div class="holder results">
				<div id="results">
					<div id="days-remain"></div>
					<div id="city-name"></div> 
					<div id="country-name"></div>
					<div id="departure-date"></div>
					<div id="arrival-date"></div>
					<div id="duration"></div>
					<div id="temperature-current"></div>
					<div id="weather"></div>					
					<div id="temperature-highest"></div>
					<div id="temperature-lowest"></div>
				</div>
			</div>
		</div>
		<!-- <script>
			// Check that service workers are supported
			if ('serviceWorker' in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/service-worker.js');
				});
			}
		</script> -->
		<!-- <script>
			@include date-input-polyfill.dist.js
		</script> -->
	</body>
	<footer>
		<p>Powered by <a href="https://www.weatherbit.io/">Pixabay</a>, <a href="https://pixabay.com/">WeatherBit</a> and <a href="http://www.geonames.org/">Geonames</a>.</p>
		<figcaption id="image-author"></figcaption>
	</footer>
</html>