@import 'variables';

#results {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 5px;
    padding: 3rem 2rem;
    display: none;
}

#days-remain{
    flex: 0 0 100%;
    color: $disabled;
    margin-bottom: 1rem
}

#city-name {
    flex: 1 1 100%;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 1rem;
}

#country-name {
    flex: 1 1 50%;
    color: $disabled;
    margin-bottom: 1rem;
}

#duration {
    flex: 1 1 50%;
    color: $disabled;
    text-align: right;
}

#departure-date {
    flex: 1 1 100%;
    font-weight: 800;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

#arrival-date {
    flex: 1 1 100%;
    font-weight: 800;
    margin-bottom: 2rem;
}

#temperature-current {
    font-size: 48px;
    flex: 1 1 50%;
}

#temperature-highest {
    flex: 1 1 50%;
}

#temperature-lowest {
    flex: 1 1 50%;
}

hr {
    background-color: $accent-color;
    border-color: $accent-color;
    border-width: 1px;
    margin: 2rem 0;
    width: 100%;
}

@media only screen and (min-width: 420px) {
    #results {
        padding: 3rem;
        display: none;
    }
}